
/*=========================
** footer-area
=========================*/
.footer-area{
    padding: 20px 0;
    background-color: #0e0e18;
    p{
        margin-bottom: 0;
        font-size: 14px;
        text-transform: capitalize;
        color: $white;
    }
}